# 04 - Pętla for, pętla while

In [1]:
for letter in 'Python':
    print(letter)

P
y
t
h
o
n

In [2]:
name = 'Python'
for character in name:
    print(character)

P
y
t
h
o
n

In [4]:
name = 'Python'
for character in name:
    print(character * 3)

PPP
yyy
ttt
hhh
ooo
nnn

In [5]:
name = 'Python'
for character in name:
    print(f'{character}{character}{character}')

PPP
yyy
ttt
hhh
ooo
nnn

## Instrukcja continue

In [6]:
name = 'Python'
for character in name:
    if character == 'h':
        continue
    print(character)

P
y
t
o
n

In [7]:
name = 'Python'
for character in name:
    if character == 'h':
        break
    print(character)

P
y
t

In [10]:
name = 'Python'
for character in name:
    print(character)
else:
    print('I iterated over all letters')

P
y
t
h
o
n
I iterated over all letters

In [12]:
seq = 'ATCGTAGTTTTTA'
position = 0
for letter in seq:
    print(letter, position)
    position += 1

A 0
T 1
C 2
G 3
T 4
A 5
G 6
T 7
T 8
T 9
T 10
T 11
A 12

## Pętla for z licznikiem

In [13]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for number in range(10):
    print('Hello world!')

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [15]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [17]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [19]:
for i in range(-5, 6, 1):
    print(i, end=' ')

-5 -4 -3 -2 -1 0 1 2 3 4 5

In [22]:
product = 1
for number in range(1, 51):
    product *= number
print(f'Product: {product:,}')
print(number)

Product: 30,414,093,201,713,378,043,612,608,166,064,768,844,377,641,568,960,512,000,000,000,000
50

In [24]:
seq = 'ATGCTGATA'

print(seq[1])

T

In [28]:
seq1 = 'ATGCTGATAGTAGATA'
seq2 = 'ATCCTGTTAGTAGAAA'

distance = 0
for position in range(len(seq1)):
    nucleotide1 = seq1[position]
    nucleotide2 = seq2[position]
    if nucleotide1 != nucleotide2:
        distance += 1
print(f'Hamming distance: {distance}')

Hamming distance: 3

In [29]:
for question_num in range(1, 6):
    print(f'Question: {question_num}')
    for letter in 'abcd':
        print(f'{letter}.')

Question: 1
a.
b.
c.
d.
Question: 2
a.
b.
c.
d.
Question: 3
a.
b.
c.
d.
Question: 4
a.
b.
c.
d.
Question: 5
a.
b.
c.
d.

In [31]:
for dice1 in range(1, 7):
    for dice2 in range(1, 7):
        for dice3 in range(1, 7):
            print(dice1, dice2, dice3)

1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
3 6 1
3 6 2
3 6 3
3 6 4
3 6 5
3 6 6
4 1 1
4 1 2
4 1 3
4 1 4
4 1 5
4 1 6
4 2 1
4 2 2
4 2 3
4 2 4
4 2 5
4 2 6
4 3 1
4 3 2
4 3 3
4 3 4
4 3 5
4 3 6
4 4 1
4 4 2
4 4 3
4 4 4
4 4 5
4 4 6
4 5 1
4 5 2
4 5 3
4 5 4
4 5 5
4 5 6
4 6 1
4 6 2
4 6 3
4 6 4
4 6 5
4 6 6
5 1 1
5 1 2
5 1 3
5 1 4
5 1 5
5 1 6
5 2 1
5 2 2
5 2 3
5 2 4
5 2 5
5 2 6
5 3 1
5 3 2
5 3 3
5 3 4
5 3 5
5 3 6
5 4 1
5 4 2
5 4 3
5 4 4
5 4 5
5 4 6
5 5 1
5 5 2
5 5 3
5 5 4
5 5 5
5 5 6
5 6 1
5 6 2
5 6 3
5 6 4
5 6 5
5 6 6
6 1 1
6 1 2
6 1 3
6 1 4
6 1 5
6 1 6
6 2 1
6 2 2
6 2 3
6 2 4
6 2 5
6 2 6
6 3 1
6 3 2
6 3 3
6 3 4
6 3 5
6 3 6
6 4 1
6 4 2
6 4 3
6 4 4
6 4 5
6 4 6
6 5 1
6 5 2
6 5 3
6 5 4
6 5 5
6 5 6
6 6 1
6 6 2
6 6 3
6 6 4
6 6 5
6 6 6

## Pętla while

In [32]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [33]:
x = 0
while x <= 5:
    print(x)
    x += 1

0
1
2
3
4
5

In [34]:
while True:
    option = input('Choose option a or b: ')
    if option == 'a' or option == 'b':
        break
print(f'Thanks for choosing {option}')

Choose option a or b: z
Choose option a or b: 5
Choose option a or b: jkjpjlkjk;
Choose option a or b: 787879
Choose option a or b: b
Thanks for choosing b

In [ ]:
for i in range(100000000):
    option = input('Choose option a or b: ')
    if option == 'a' or option == 'b':
        break
print(f'Thanks for choosing {option}')

In [37]:
SECRET_NUMBER = 7

for i in range(3):
    number = int(input('Enter a number: '))
    if number == SECRET_NUMBER:
        print('You won!')
        break
else:
    print('You failed.')

Enter a number: 5
Enter a number: 1
Enter a number: 2
You failed.

In [38]:
SECRET_NUMBER = 7
user_failed = True
for i in range(3):
    number = int(input('Enter a number: '))
    if number == SECRET_NUMBER:
        print('You won!')
        user_failed = False
        break

if user_failed:
    print('You failed.')

Enter a number: 5
Enter a number: 8
Enter a number: 9
You failed.

In [53]:
import random

SECRET_NUMBER = random.randint(1, 10)
print(SECRET_NUMBER)

3