# Pliki

## Otwieranie plików

In [2]:
!cat infile.txt

1) This is a test file!
2) With multiple 10 lines of data...
3) Third line
4) Fourth line
5) Fifth line
6) Sixth line
7) Seventh line
8) Eight line
9) Ninth line
10) Tenth line

In [5]:
f = open('infile.txt')
# r - read
# w - write (do zapisu)
# a - append
f.close()

## Wczytywanie danych z pliku

## 1 sposób

In [6]:
f = open('infile.txt')
for line in f:
    print(line)
f.close()

1) This is a test file!

2) With multiple 10 lines of data...

3) Third line

4) Fourth line

5) Fifth line

6) Sixth line

7) Seventh line

8) Eight line

9) Ninth line

10) Tenth line

In [8]:
f = open('infile.txt')
for line in f:
    print(line.upper())
f.close()

1) THIS IS A TEST FILE!

2) WITH MULTIPLE 10 LINES OF DATA...

3) THIRD LINE

4) FOURTH LINE

5) FIFTH LINE

6) SIXTH LINE

7) SEVENTH LINE

8) EIGHT LINE

9) NINTH LINE

10) TENTH LINE

## 2 Sposób

In [9]:
f = open('infile.txt')
lines = f.readlines()
f.close()
print(lines)

['1) This is a test file!\n', '2) With multiple 10 lines of data...\n', '3) Third line\n', '4) Fourth line\n', '5) Fifth line\n', '6) Sixth line\n', '7) Seventh line\n', '8) Eight line\n', '9) Ninth line\n', '10) Tenth line']

In [10]:
f = open('infile.txt')
lines = []
for line in f:
    lines.append(line)
print(lines)

['1) This is a test file!\n', '2) With multiple 10 lines of data...\n', '3) Third line\n', '4) Fourth line\n', '5) Fifth line\n', '6) Sixth line\n', '7) Seventh line\n', '8) Eight line\n', '9) Ninth line\n', '10) Tenth line']

## 3 sposób

In [12]:
f = open('infile.txt')

line = f.readline()
print(line)

line = f.readline()
print(line)

f.close()

1) This is a test file!

2) With multiple 10 lines of data...

### 4 sposób

In [14]:
f = open('infile.txt')

content = f.read()
f.close()

print(content.upper())

1) THIS IS A TEST FILE!
2) WITH MULTIPLE 10 LINES OF DATA...
3) THIRD LINE
4) FOURTH LINE
5) FIFTH LINE
6) SIXTH LINE
7) SEVENTH LINE
8) EIGHT LINE
9) NINTH LINE
10) TENTH LINE

In [17]:
f = open('infile.txt')

content = f.read(100)
print(content)

print()
content = f.read(100)
print(content)

print()
content = f.read(100)
print(content)

f.close()

1) This is a test file!
2) With multiple 10 lines of data...
3) Third line
4) Fourth line
5) Fifth l

ine
6) Sixth line
7) Seventh line
8) Eight line
9) Ninth line
10) Tenth line

In [ ]:
# 1: pętla for: wiersz po wierszu
# 2: readlines(): wszystkei wiersze do listy
# 3: readline(): wczytuje jako string pojedynczy wiersz
# 4: read(): wczytuje zawartość całego pliku jako string

# Zapisywanie do pliku

In [19]:
f = open('outfile.txt', 'w')

f.write('Test')

f.close()

In [20]:
!cat outfile.txt

Test

In [23]:
f = open('outfile.txt', 'w')

f.write('Line1\n')
f.write('Line2\n')

f.close()

In [24]:
!cat outfile.txt

Line1
Line2

In [25]:
lines = ['Line1\n', 'Line2\n', 'Line3\n']

f = open('outfile.txt', 'w')
f.writelines(lines)
f.close()

In [26]:
!cat outfile.txt

Line1
Line2
Line3

In [27]:
lines = ['Line1\n', 'Line2\n', 'Line3\n']

f = open('outfile.txt', 'w')
for line in lines:
    f.write(line)
f.close()

In [28]:
!cat outfile.txt

Line1
Line2
Line3

In [31]:
f = open('infile.txt')
output_file = open('results.txt', 'w')
for line in f:
    output_file.write(f'{len(line)}\n')
f.close()
output_file.close()

In [32]:
!cat results.txt

24
37
14
15
14
14
16
14
14
14

In [35]:
max_word_size = 0

f = open('words_alpha.txt')
for line in f:
    word_size = len(line.rstrip())
    if word_size > max_word_size:
        max_word_size = word_size
        max_word = line
f.close()

print(max_word)
print(max_word_size)

dichlorodiphenyltrichloroethane

31

In [36]:
# myfile = open('infile.txt')
# for line in myfile:
#  ....


with open('infile.txt') as myfile:
    for line in myfile:
        print(line)

1) This is a test file!

2) With multiple 10 lines of data...

3) Third line

4) Fourth line

5) Fifth line

6) Sixth line

7) Seventh line

8) Eight line

9) Ninth line

10) Tenth line

In [40]:
# outfile = open('outfile1.txt', 'w')
# outfile.write('Hello!')
# outfile.close()

with open('outfile1.txt', 'w') as outfile:
    outfile.write('Hello!')