In [ ]:
name = 'Hello'       # str
height = 178         # int
pi = 3.14            # float
is_published = True  # boolean
lst = ['a', 'b']     # list
tup = (1, 2, 3)      # tuple
d = {'a': 1, 'b': 2} # dictionary

In [3]:
d = {
    ('chromosome1', 'gene_name1'): 1234930
}

# Zbiory

In [4]:
myset = {'a', 'b', 'c', 'd'}
print(myset)

{'b', 'c', 'a', 'd'}

In [5]:
mydict = {}  # Pusty słownik
mydict = dict()
myset = set()

In [6]:
s = {'a', 'a', 'a'}
print(s)

{'a'}

In [7]:
protein = 'MGTSTWAST'

s = set(protein)
print(s)

{'M', 'G', 'W', 'S', 'T', 'A'}

In [8]:
s = set()
s.add('A')

print(s)

{'A'}

In [9]:
s.add('A')
print(s)

{'A'}

In [10]:
s.remove('A')
print(s)

set()

## Działania matematyczne

In [11]:
dna = set('ATGC')
rna = set('AUGC')

print(dna)
print(rna)

{'C', 'G', 'A', 'T'}
{'U', 'G', 'A', 'C'}

In [12]:
print(dna - rna)

{'T'}

In [13]:
print(dna | rna)

{'C', 'U', 'G', 'T', 'A'}

In [14]:
print(dna & rna)

{'G', 'A', 'C'}

In [15]:
print(dna ^ rna)

{'U', 'T'}

In [16]:
nucleotides = dna | rna
print(nucleotides)

{'C', 'U', 'G', 'T', 'A'}

In [18]:
print(nucleotides > dna)

True

In [19]:
'A' in dna

True

In [20]:
s = 'ATGCTAGTAG'
print(set(s))

{'C', 'G', 'A', 'T'}

In [21]:
list(s)

['A', 'T', 'G', 'C', 'T', 'A', 'G', 'T', 'A', 'G']

In [22]:
print(dna.difference(rna))

{'T'}

In [23]:
print(dna.union(rna))

{'C', 'U', 'G', 'T', 'A'}

In [24]:
print(dna.intersection(rna))     # dna & rna

{'G', 'A', 'C'}

In [25]:
print(dna.symmetric_difference(rna))  # dna ^ rna

{'U', 'T'}

In [26]:
nucleotides.issuperset(dna)   # nucleotides > dna

True

In [27]:
nucleotides.issubset(dna)    # nucleotides < dna

False

In [28]:
words = {'Hello', 'world', '!'}

for word in words:
    print(word)

!
Hello
world

In [29]:
words[0]

TypeError: 'set' object is not subscriptable

In [30]:
s = set()
s.add(3)
s.add(3.14)
s.add('hi')
s.add(('chromosome1', 'tncr6a'))

In [31]:
print(s)

{3.14, 3, ('chromosome1', 'tncr6a'), 'hi'}

In [32]:
s.add([1, 2, 3])

TypeError: unhashable type: 'list'

In [33]:
s.add({'a': 1})

TypeError: unhashable type: 'dict'

In [35]:
lst = [1, 2, 34, 1, 1, 1, 2, 3, 3, 3, 3]

print(list(set(lst)))

[1, 2, 3, 34]

In [36]:
protein1 = 'MKSTRWGVW'
protein2 = 'MTRSACGTM'

print(set(protein1) - set(protein2))

{'W', 'V', 'K'}

In [38]:
lst = ['hello', 'a', 'hello']

len(set(lst))

2

In [46]:
import random

print(random.randint(1, 49))

24

In [51]:
lotto = set()
while len(lotto) < 6:
    number = random.randint(1, 49)
    lotto.add(number)

print(lotto)

{33, 34, 37, 8, 47, 28}

In [52]:
lotto = []
while len(lotto) < 6:
    number = random.randint(1, 49)
    if number not in lotto:
        lotto.append(number)

print(lotto)

[42, 1, 49, 13, 18, 27]

In [55]:
random.sample(list(range(1, 50)), 6)

[43, 30, 31, 32, 39, 14]

# Obsługa wyjątków

In [66]:
temp = input('Enter a temperature:')
try:
    temp = float(temp)
except ValueError:
    print('Sorry I could not convert it to number')
except Exception:
    print('Something went wrong')
else:
    f = 32 + 9/5 * temp
    print(f'Temperature in F: {f}')
finally:
    print('All done')

Enter a temperature:766
Temperature in F: 1410.8
All done

In [67]:
try:
    with open('inout.txt') as fh:
        content = fh.read()
except FileNotFoundError:
    print('Sorry, could not locate the file')

Sorry, could not locate the file