# Funkcje

In [2]:
len([1, 2, 3])

3

In [4]:
def hello():
    print('Hello world!')


hello()

Hello world!

In [5]:
def hello(name):
    print(f'Hello {name}')

hello('Andrzej')

Hello Andrzej

In [6]:
def gc_content(seq):
    seq = seq.upper()
    g = seq.count('G')
    c = seq.count('C')
    print((g + c) / len(seq))

In [7]:
gc_content('ATGC')

0.5

In [8]:
value = gc_content('ATGC')
print(value)

0.5
None

In [9]:
def gc_content(seq):
    seq = seq.upper()
    g = seq.count('G')
    c = seq.count('C')
    return (g + c) / len(seq)

value = gc_content('ATGC')
print(value)

0.5

In [11]:
lst = ['ATCGTAG', 'TGCTGATA', 'ATCGTAG']
for seq in lst:
    print(gc_content(seq))

0.42857142857142855
0.375
0.42857142857142855

In [12]:
def multiply(a, b, c, d):
    return a * b * c * d

In [13]:
multiply(1, 2, 3, 4)

24

In [15]:
multiply(d=4, b=2, c=3, a=1)

24

In [16]:
def multiply(a, b, c=1, d=1):
    return a * b * c * d

In [17]:
multiply(1, 2)

2

In [18]:
def multiply(a=1, b, c, d):
    return a * b * c * d

SyntaxError: parameter without a default follows parameter with a default (ipython-input-104919487.py, line 1)

In [19]:
def multiply(a, b, c=1, d=1):
    return a * b * c * d

multiply(1, 2, 4)

8

In [23]:
def std(sample):
    mean = sum(sample) / len(sample)
    licznik = 0
    for number in sample:
        licznik += (number - mean)**2
    mianownik = len(sample)
    return (licznik / mianownik) ** 0.5

In [24]:
std([1 ,2, 8, 11, 30])

10.480458005259122

In [25]:
def multiply(*args):
    print(args)

In [26]:
multiply(1, 2, 3, 10, 11, 13)

(1, 2, 3, 10, 11, 13)

In [27]:
def multiply(*args):
    prod = 1
    for number in args:
        prod *= number
    return prod

In [28]:
multiply(1, 2, 3, 10, 11, 10)

6600

In [29]:
multiply()

1

In [32]:
def mutiply(**kwargs):
    print(kwargs)

In [34]:
mutiply(a=1, b=2, c=3, d=10)

{'a': 1, 'b': 2, 'c': 3, 'd': 10}

In [40]:
def multiply(*args):
    prod = 1
    for number in args:
        prod *= number
    return prod

In [41]:
def multiply(*args):
    prod = 1
    for number in args:
        prod *= number
    return prod

lst = [1, 2, 3, 4, 5, 6, 7, 8]

multiply(*lst)
multiply(1, 2, 3, 4, 5 ,6, 7, 8)

40320

In [42]:

lst = ['Chromosome', 'Location', 'Score']

header = [
    'Gene_name',
    *lst,
    'Start',
    'End',
    'Score',
]
print(header)

['Gene_name', 'Chromosome', 'Location', 'Score', 'Start', 'End', 'Score']

In [ ]:
def gc_content(seq):
    '''Calculate G+C content.

    Args:
       seq (str) - input sequence

    Returns:
        value between 0 and 1.
    '''
    seq = seq.upper()
    g = seq.count('G')
    c = seq.count('C')
    return (g + c) / len(seq)