# Funkcje

## Znane nam funkcje

In [1]:
len('Hello')

5

In [2]:
print('Hello')

Hello

In [3]:
sum([1, 2, 3, 4, 5])

15

In [4]:
max([1, 3, 100, 5])

100

In [5]:
min([1, 2, 4, -10])

-10

In [6]:
range(10)

range(0, 10)

In [7]:
range(0, 10)

range(0, 10)

In [8]:
open('nazwa_pliku', 'w')

## Pisanie własnych funkcji

In [17]:
def gc_content(dna_sequence):
    dna_sequence = dna_sequence.upper()
    g = dna_sequence.count('G')
    c = dna_sequence.count('C')
    result = (g + c) / len(dna_sequence)
    return result

In [14]:
value = gc_content('ATGC')
print(value)

0.5

In [ ]:
word_size = len('Hello')

In [16]:
lst = ['ATCGTA', 'ATGCTGA', 'GTAGAT', 'CGCGCGTAGTA']

for seq in lst:
    value = gc_content(seq)
    print(value)

0.3333333333333333
0.42857142857142855
0.3333333333333333
0.6363636363636364

In [18]:
def hello():
    print('Hello')

In [19]:
hello()

Hello

In [21]:
def gc_content(dna_sequence):
    dna_sequence = dna_sequence.upper()
    g = dna_sequence.count('G')
    c = dna_sequence.count('C')
    result = (g + c) / len(dna_sequence)
    return result


value = gc_content('ATGC')
print(value)

0.5

In [23]:
def gc_content(dna_sequence):
    dna_sequence = dna_sequence.upper()
    g = dna_sequence.count('G')
    c = dna_sequence.count('C')
    result = (g + c) / len(dna_sequence)

value = gc_content('ATGC')
print(value)

None

In [24]:
def log():
    print('Stats: ')

In [25]:
log()

Stats:

## Argumenty

In [26]:
def multiply(a, b):
    return a * b

In [27]:
print(multiply(2, 3))

6

In [28]:
multiply(3)

TypeError: multiply() missing 1 required positional argument: 'b'

In [30]:
def multiply(a, b, c, d):
    return a * b * c * d

multiply(1, 2, 3, 4)

multiply(d=4, a=1, b=2, c=3)

24

In [31]:
def multiply(a, b, c=1, d=1):
    return a * b * c * d

multiply(2, 3)

6

In [33]:
multiply(2, 3, 4)

24

In [36]:
def multiply(a, b=1, c, d):
    return a * b * c * d

multiply(2, 3)

SyntaxError: parameter without a default follows parameter with a default (ipython-input-2511039930.py, line 1)

In [37]:
#numbers = [1, 2, 3, 4]
#mean(numbers)

def mean(numbers):
    return sum(numbers) / len(numbers)

mean([1, 2, 3, 4])

2.5

In [42]:
def mean(numbers):
    return sum(numbers) / len(numbers)

def std(numbers):
    licznik = 0
    average = mean(numbers)
    for number in numbers:
        licznik += (number - average) ** 2
    mianownik = len(numbers)
    return (licznik / mianownik) ** 0.5

numbers = [5, 5, 5, 6, 4, 4, 7, 5]
std(numbers)

0.9270248108869579

In [43]:
def multiply(*args):
    print(args)

In [45]:
multiply(1, 23, 4, 543, 1, 4, 2, 1, 1, 1, 1,1, 1, 1, 1)

(1, 23, 4, 543, 1, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1)

In [47]:
def multiply(*args):
    # * - zbiera argumenty w krotkę
    prod = 1
    for number in args:
        prod *= number
    return prod

multiply(1, 2, 3, 4)

24

In [48]:
def multiply(**kwargs):
    # ** - zbiera argumenty w słownik
    print(kwargs)

multiply(a=1, b=2, c=4)

{'a': 1, 'b': 2, 'c': 4}

In [53]:
selected_columns = ['Chromosome', 'Score']

header = [
    'Gene',
    *selected_columns,
    'Gene start',
    'Gene end',
    'Strand',
]

print(header)

['Gene', 'Chromosome', 'Score', 'Gene start', 'Gene end', 'Strand']

In [54]:
selected_columns = ['Chromosome', 'Score']

header = [
    'Gene',
    selected_columns[0],
    'Gene start',
    selected_columns[1],
    'Gene end',
    'Strand',
]

print(header)

['Gene', 'Chromosome', 'Gene start', 'Score', 'Gene end', 'Strand']

In [55]:
def gc_content(dna_sequence):
    """Returns gc content of a given sequence.

    Args:
        dna_sequence (str): input sequence

    Returns:
        float (0-1)
    """
    dna_sequence = dna_sequence.upper()
    g = dna_sequence.count('G')
    c = dna_sequence.count('C')
    result = (g + c) / len(dna_sequence)