# Zmienne i zasięgi nazw

In [1]:
a = 3

In [ ]:
# 1. Utworzenie obiektu reprezentującego wartość 3.
# 2. Utworzenie nazwy zmiennej `a` (jeżeli taka zmienna jeszcze nie istnieje)
# 3. Połączenie zmiennej `a` z obiektem 3.

In [ ]:
a = 3
a = 'three'
a = [1, 2, 3, 4]

In [ ]:
a = 3
b = a
a = a + 2

In [2]:
lst1 = [1, 2, 3]
lst2 = lst1

lst1[0] = 9999
print(lst1)
print(lst2)

[9999, 2, 3]
[9999, 2, 3]

In [3]:
lst1 = [1, 2, 3]
lst2 = lst1[:]

lst1[0] = 9999

print(lst1)
print(lst2)

[9999, 2, 3]
[1, 2, 3]

In [4]:
lst1 = [1, 2, 3]
lst2 = lst1

lst1 == lst2

True

In [5]:
lst1 is lst2

True

In [6]:
lst1 = [1, 2, 3]
lst2 = lst1[:]

lst1 is lst2

False

In [7]:
lst1 == lst2

True

In [8]:
a = 'hello'
b = a
b = 'hi'

print(a)

hello

In [9]:
a = ['hello']
b = a
b[0] = 'hi'

print(a)

['hi']

# Zasięgi nazw

In [10]:
# 1. Lokalny
# 2. Globalny
# 3. Built-in (zmienne wbudowane w Pythonie, np. len)

In [11]:
x = 10            # Zmienna globalna

def f():
    y = 5         # Zmienna lokaln
    print(x)
    print(y)

f()

10
5

In [12]:
x = 10            # Zmienna globalna

def f():
    y = 5         # Zmienna lokaln
    print(x)
    print(y)

f()
print(y)

10
5

NameError: name 'y' is not defined

In [13]:
x = 10            # Zmienna globalna

def f():
    x = 5         # Zmienna lokaln
    print(x)

f()
print(x)

5
10

# Listy składane (list comprehension)

In [14]:
minutes = [2, 3, 1, 4]

seconds = []
for minute in minutes:
    seconds.append(minute * 60)

print(seconds)

[120, 180, 60, 240]

In [15]:
seconds = [minute * 60 for minute in minutes]
print(seconds)

[120, 180, 60, 240]

In [16]:
genes = ['TNRC6A', 'BRCA2', 'WAK1', 'RRM2']

human_genes = [f'Hs{gene}' for gene in genes]

print(human_genes)

['HsTNRC6A', 'HsBRCA2', 'HsWAK1', 'HsRRM2']

In [17]:
human_genes = []
for gene in genes:
    human_genes.append(f'Hs{gene}')
print(human_genes)

['HsTNRC6A', 'HsBRCA2', 'HsWAK1', 'HsRRM2']

In [19]:
lst = [i ** 2 for i in range(10)]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
lst = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

lst_string = [str(number) for number in lst]
print(lst_string)

['0', '1', '4', '9', '16', '25', '36', '49', '64', '81']

# Filtrowanie

In [21]:
lst = [1, 2, 85, 84, 5, 6, 10, 11, 32, 64]

even = [number for number in lst if number % 2 == 0]
print(even)

[2, 84, 6, 10, 32, 64]

In [22]:
s1 = 'abc'
s2 = 'def'

lst = [char1 + char2 for char1 in s1 for char2 in s2 if char1 != char2] # Nieczytelne
print(lst)

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [23]:
genes = ['TNRC6A', 'BRCA2', 'WAK1', 'RRM2']

d = {gene: gene.lower() for gene in genes}
print(d)

{'TNRC6A': 'tnrc6a', 'BRCA2': 'brca2', 'WAK1': 'wak1', 'RRM2': 'rrm2'}

In [24]:
myset = {gene for gene in genes}
print(myset)

{'WAK1', 'BRCA2', 'TNRC6A', 'RRM2'}