# Znane generatory

In [3]:
range(10)

range(0, 10)

In [7]:
range(1000000000000)

range(0, 1000000000000)

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
file = open('infile.txt')
for line in file:
    print(line)
file.close()

1) This is a test file!

2) With multiple 10 lines of data...

3) Third line

4) Fourth line

5) Fifth line

6) Sixth line

7) Seventh line

8) Eight line

9) Ninth line

10) Tenth line

In [11]:
file = open('infile.txt')
lst = list(file)
file.close()
print(lst)

['1) This is a test file!\n', '2) With multiple 10 lines of data...\n', '3) Third line\n', '4) Fourth line\n', '5) Fifth line\n', '6) Sixth line\n', '7) Seventh line\n', '8) Eight line\n', '9) Ninth line\n', '10) Tenth line']

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}

d.keys()
d.values()
d.items()

# Nowe generatory,których nie było

In [12]:
name = 'World'

i = 0
for char in name:
    print(char, i)
    i += 1

W 0
o 1
r 2
l 3
d 4

In [13]:
name = 'World'
for i, char in enumerate(name):
    print(char, i)

W 0
o 1
r 2
l 3
d 4

In [14]:
list(enumerate(name))

[(0, 'W'), (1, 'o'), (2, 'r'), (3, 'l'), (4, 'd')]

In [15]:
name = 'World'
for i, char in enumerate(name, start=1):
    print(char, i)

W 1
o 2
r 3
l 4
d 5

In [16]:
countries = ['Poland', 'Germany', 'USA']
cities = ['Poznan', 'Berlin', 'New York']

for i in range(len(cities)):
    city = cities[i]
    country = countries[i]
    print(country, city)

Poland Poznan
Germany Berlin
USA New York

In [18]:
countries = ['Poland', 'Germany', 'USA']
cities = ['Poznan', 'Berlin', 'New York']

list(zip(countries, cities))

[('Poland', 'Poznan'), ('Germany', 'Berlin'), ('USA', 'New York')]

In [20]:
for country, city in zip(countries, cities):
    print(country, city)

Poland Poznan
Germany Berlin
USA New York

In [21]:
seq1 = 'AAAAA'
seq2 = 'BBB'
seq3 = 'CC'

for l1, l2, l3 in zip(seq1, seq2, seq3):
    print(l1, l2, l3)

A B C
A B C

In [22]:
seq1 = 'ATGCTGGTAG'
seq2 = 'ATGCAGGTTG'

distance = 0
for nt1, nt2 in zip(seq1, seq2):
    if nt1 != nt2:
        distance += 1

print(distance)

2

In [23]:
len([1 for nt1, nt2 in zip(seq1, seq2) if nt1 != nt2])

2

# Tworzenie własnych generatorów

In [29]:
def sqrange(n):
    numbers = []
    for number in range(n):
        numbers.append(number ** 2)
    return numbers

In [30]:
sqrange(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
def sqrange(n):
    for number in range(n):
        yield number ** 2

In [32]:
sqrange(10)

In [33]:
for number in sqrange(10):
    print(number)

0
1
4
9
16
25
36
49
64
81

In [34]:
list(sqrange(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
generator = sqrange(5)
for number in generator:
    print(number)

for number in generator:
    print(number)

0
1
4
9
16

# Funkcja anonimowa lamda

In [37]:
def power1(number):
    return number ** 2

power1(2)

4

In [38]:
power2 = lambda number: number ** 2

power2(2)

4

## Sortowanie i lambda

In [39]:
lst = ['elephant', 'boy', 'apple']
lst.sort()
print(lst)

['apple', 'boy', 'elephant']

In [40]:
lst = ['elephant', 'boy', 'apple']
lst.sort(key=len)
print(lst)

['boy', 'apple', 'elephant']

In [41]:
def count_e(word):
    return word.count('e')

lst = ['elephant', 'boy', 'apple']
lst.sort(key=count_e)
print(lst)

['boy', 'apple', 'elephant']

In [42]:
lst = ['elephant', 'boy', 'apple']
lst.sort(key=lambda word: word.count('e'))
print(lst)

['boy', 'apple', 'elephant']

In [43]:
lst = [
    ('NOT1', 340),
    ('GW182', 10),
    ('NOT1', 2),
    ('FOXP2', 55),
    ('MET23', 55),
    ('BRCA2', 55)
]

lst.sort()
print(lst)

[('BRCA2', 55), ('FOXP2', 55), ('GW182', 10), ('MET23', 55), ('NOT1', 2), ('NOT1', 340)]

In [45]:
lst.sort(key=lambda x: x[1])
print(lst)

[('NOT1', 2), ('GW182', 10), ('BRCA2', 55), ('FOXP2', 55), ('MET23', 55), ('NOT1', 340)]

In [46]:
lst.sort(key=lambda x: x[1], reverse=True)
print(lst)

[('NOT1', 340), ('BRCA2', 55), ('FOXP2', 55), ('MET23', 55), ('GW182', 10), ('NOT1', 2)]

In [49]:
lst = [
    ('NOT1', 340),
    ('GW182', 10),
    ('NOT1', 2),
    ('FOXP2', 55),
    ('MET23', 55),
    ('BRCA2', 55)
]

new_lst = sorted(lst, key=lambda x: x[1], reverse=True)

In [50]:
lst

[('NOT1', 340),
 ('GW182', 10),
 ('NOT1', 2),
 ('FOXP2', 55),
 ('MET23', 55),
 ('BRCA2', 55)]

In [51]:
new_lst

[('NOT1', 340),
 ('FOXP2', 55),
 ('MET23', 55),
 ('BRCA2', 55),
 ('GW182', 10),
 ('NOT1', 2)]

In [56]:
d = {
    'A': 240,
    'T': 10,
    'C': 1,
    'G': 5,
}

for nt, count in sorted(d.items(), key=lambda tup: tup[1], reverse=True):
    print(nt, count)

A 240
T 10
G 5
C 1